:root {
    --darkbrown: #800000;
    --midbrown: #982B1C;
    --pale: #FFDBB5;
    --cream: #FFEAC5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.document-heading {
    color: var(--darkbrown);
    font-size: 1.8em;
    font-weight: 600;
}

.view-button-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--darkbrown); */
}

.view-button {
    text-decoration: underline  ;
    color: var(--darkbrown);
}

.login {
    padding: 10px;
    background-color: var(--darkbrown);
    color: white;
    border-radius: 5px;
    margin-left: 15px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* height: 100vh; */
    padding: 0 100px;
}

table {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    /* margin: 50px; */
    border-radius: 10px;
    height: auto;
    width: 1fr;
    border-spacing: 0;
    overflow: hidden;
    border-collapse: collapse;
}

th, td {
    padding: 10px 10px;
    text-align: start;
    width: 1fr;
}

td a {
    color: black;
    text-decoration: none;
}

th {
    background-color: var(--midbrown);
    text-align: start;
    color: white;
    text-transform: uppercase;
    /* border-radius: 5px; */
}

.data-row:nth-child(odd) {
    background-color: var(--midbrown);
    color: white;
}

.data-row:nth-child(odd) a {
    /* background-color: var(--midbrown); */
    color: white;
}

.search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    /* background-color: red; */
    gap: 10px;
}

.search .labels {
    margin-right: 10px;
    font-weight: 600;
}

.select_option {
    padding: 10px 15px;
    /* border: none; */
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border: 1px solid grey;
}

.search_bar, .submit {
    padding: 10px 10px;
    border-radius: 8px;
}

.search_bar {
    outline: none;
    border: 1px solid grey;
}

.submit {
    background-color: var(--midbrown);
    color: white;
    /* font-weight: 600; */
    /* padding: 11px 11px; */
    border: none;
}