:root {
    --darkbrown: #800000;
    --midbrown: #982B1C;
    --pale: #FFDBB5;
    --cream: #FFEAC5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.document-heading {
    color: var(--darkbrown);
    font-size: 1.8em;
    font-weight: 600;
}

.view-button-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--darkbrown); */
}

.view-button {
    text-decoration: underline  ;
    color: var(--darkbrown);
}

.login {
    padding: 10px;
    background-color: var(--darkbrown);
    color: white;
    border-radius: 5px;
    margin-left: 15px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

table {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    margin: 50px;
    border-radius: 10px;
    height: auto;
    border-spacing: 0;
    overflow: hidden;
    border-collapse: collapse;
}

th, td {
    padding: 10px 10px;
    text-align: start; 
}

th {
    background-color: var(--midbrown);
    text-align: start;
    color: white;
    text-transform: uppercase;
    /* border-radius: 5px; */
}

tr:nth-child(odd) {
    background-color: var(--midbrown);
    color: white;
}